---
---

.mw-sm {max-width: var(--bs-breakpoint-sm)!important;}
.mw-md {max-width: var(--bs-breakpoint-md)!important;}
.mw-lg {max-width: var(--bs-breakpoint-lg)!important;}
.mw-xl {max-width: var(--bs-breakpoint-xl)!important;}
.mw-xxl {max-width: var(--bs-breakpoint-xxl)!important;}

.mg {
    width: calc(100% - var(--bs-gutter-x));
}

@media only screen and (max-width: 575px) {
    .rounded-4-top-left-top-right {       
        border-top-left-radius: var(--bs-border-radius-xl)!important;
        border-top-right-radius: var(--bs-border-radius-xl)!important;
    }
    
    .rounded-4-bottom-left-bottom-right {       
        border-bottom-left-radius: var(--bs-border-radius-xl)!important;
        border-bottom-right-radius: var(--bs-border-radius-xl)!important;
    }

    .box-shadow-top {
        box-shadow: 0px -1px 1px #ffffff7a;
    }

    .pills {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 576px) {
    .rounded-sm-4-top-right-bottom-right {       
        border-top-right-radius: var(--bs-border-radius-xl)!important;
        border-bottom-right-radius: var(--bs-border-radius-xl)!important;
    }

    .rounded-sm-4-top-left-bottom-left {       
        border-top-left-radius: var(--bs-border-radius-xl)!important;
        border-bottom-left-radius: var(--bs-border-radius-xl)!important;
    }

    .box-shadow-sm-top {
        box-shadow: 0px -1px 1px #ffffff7a;
    }
}

@media only screen and (min-width: 768px) {
    .columns {
        columns: auto;
        columns: 2;
        //margin-top: 1.5em;

        h1, h2 {
            column-span: all;
        }

        h1, h2, h3, h4, h5 {
            margin-bottom: 1rem;
            break-after: avoid;
        }

        ul {
            break-inside: avoid;
        }

    }
}

.page-image {
    @media only screen and (max-width: 575px){ height: 200px!important; }
    @media only screen and (min-width: 576px){ height: 300px!important; }
}

