---
---
:root {
    --bs-dark: #212529;
    --bs-primary-rgb: 255,0,0;
    font-size: 0.8rem;
}

.navbar {
    --bs-navbar-brand-font-size: 1.25em;
}

.base-fs-s { font-size: 0.8em; }
.base-fs-l { font-size: 1.2em; }


@media only screen and (min-width: 0px) { //xs
    .fs-s { font-size: 0.8em; }
    .fs-l { font-size: 1.2em; }
}

@media only screen and (min-width: 576px) { //sm
    .fs-sm-s { font-size: 0.8em; }
    .fs-sm-l { font-size: 1.2em; }
}

@media only screen and (min-width: 768px) { //md
    .fs-md-s { font-size: 0.8em; }
    .fs-md-l { font-size: 1.2em; }
}

@media only screen and (min-width: 992px) { //lg
    .fs-lg-s { font-size: 0.8em; }
    .fs-lg-l { font-size: 1.2em; }
}

@media only screen and (min-width: 1200px) { //xl
    .fs-xl-s { font-size: 0.8em; }
    .fs-xl-l { font-size: 1.2em; }
}

@media only screen and (min-width: 1400px) { //xxl
    .fs-xxl-s { font-size: 0.8em; }
    .fs-xxl-l { font-size: 1.2em; }
}







.ft-brand {
    //font-family: "Alegreya Sans SC";
    //font-family: "Permanent Marker";
    //font-family: "Mansalva";
    //font-family: "Fira Sans Condensed";
    font-family: "Titillium Web";
}

.ft-default {
    font-family: "Montserrat";
}

.fw-h1 {
    font-weight: 900;
}

.fw-h2 {
    font-weight: 700;
}

.fw-h3 {
    font-weight: 700;
}

.fs-h1 {
    font-size: 1.7em;
}

.fs-h2 {
    font-size: 1.5em;
}

.fs-h3 {
    font-size: 1.2em;
}

.cp-d {
    padding-bottom: 1em;
}

.mt-n3 {
    //margin-top: -3.5rem;
    margin-top: -5em;
}

.mt-n6 {
    margin-top: -12em;
}

.bg-overlay-gradient-bottom-dark {
    background: linear-gradient(to bottom, transparent, var(--bs-dark));
}

.bg-image-default {
    background-size: cover;
    background-position: center;
}

.bg-frost {
    backdrop-filter: blur(0.7rem);
    background: linear-gradient(45deg, black, #00000063, #0000002e);
}

.shadow-deep {
    box-shadow: 0 0 10px var(--bs-dark);
}

.image-default {
    object-fit: cover;
}

.aspect-ratio-4-3 {
    aspect-ratio: 4/3;
}

.aspect-ratio-3-4 {
    aspect-ratio: 3/4;
}

.aspect-ratio-1-1 {
    aspect-ratio: 1/1;
}

.aspect-ratio-1-2 {
    aspect-ratio: 1/2;
}

.aspect-ratio-2-1 {
    aspect-ratio: 2/1;
}


.hero-3 {
    min-height: 60em; //45em;
    object-fit: cover;
}

.hero-content-3 {
    margin-bottom: 16rem!important;
}

.splash-follower {
    top: -14rem;
    position: relative;
    margin-bottom: -14rem;
}

h1 {
    @extend .fs-h1;
    @extend .fw-h1;
}

h2 {
    @extend .fs-h2;
    @extend .fw-h2;
}

h3 {
    @extend .fs-h3;
    @extend .fw-h3;
}

[data-highlight]::before{
    content: attr(data-highlight);
    display: block;
    text-transform: uppercase;
    font-size: 0.5em;
    opacity: 0.5;
    padding-bottom: 0.5em;
}

body {
    @extend .ft-default;
    //font-size: 1rem;
}

.navbar-brand {
    @extend .ft-brand;
    //letter-spacing: 0.1em;
    //text-shadow: 0 0 1em black;
    font-size: 1.5rem;
    //font-style: italic;
    font-weight: 600;
    font-family: "Titillium Web";

    span {
        margin-left: 12px;
        vertical-align: middle;
    }
}

.navbar-brand::after{
    //content: "\00AE";
    //vertical-align: 17%;
    //font-size: 0.8em;
    //margin-left: 0.2em;
    font-weight: normal;
    font-size: 1.4rem;
    top: -0.4rem;
    position: relative;
}

.content {
    //font-size: 1rem;

    p, ul, ol {
        @extend .cp-d;
    }
}

