<div class="container-fluid footer pb-5">
    <div class="container mw-md">
        <div class="row g-0">
            <div class="row col-sm-6 col-md-12 text-center oldtext-md-start g-0 pb-3">
                <p class="text-uppercase fw-bold py-3">Sitemap</p>
                <div class="col-md-6 g-0">
                    {% assign sorted_pages = site.pages | where:"co-sitemap", "left" | sort: "co-sitemap-sort" %}
                    {% for p in sorted_pages %}
                    <p><a class="py-1 text-dark text-decoration-none" href="{{p.url}}">{{p.co-sitemap-heading}}</a></p>
                    {% endfor %}
                </div>
                <div class="col-md-6 g-0">
                    {% assign sorted_pages = site.pages | where:"co-sitemap", "right" | sort: "co-sitemap-sort" %}
                    {% for p in sorted_pages %}
                    <p><a class="py-1 text-dark text-decoration-none" href="{{p.url}}">{{p.co-sitemap-heading}}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col text-center g-0">
                <p class="py-3">Copyright &copy; 2026 {{site.company}}. <br/>All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
