<div class="container-fluid footer p-5">
    <div class="container mw-md text-light">
        <div class="row g-0">
            <div class="row col-sm-6 col-md-8 text-center oldtext-md-start g-0 pb-3">
                <p class="text-uppercase fw-bold py-3">Quick Links</p>
                <div class="col-md-6 g-0">
                    {% assign sorted_pages = site.pages | where:"sitemap", "left" | sort: "sitemap-sort" %}
                    {% for p in sorted_pages %}
                    <p><a class="py-1 text-white text-decoration-none" href="{{p.url}}">{{p.sitemap-heading}}</a></p>
                    {% endfor %}
                </div>
                <div class="col-md-6 g-0">
                    {% assign sorted_pages = site.pages | where:"sitemap", "right" | sort: "sitemap-sort" %}
                    {% for p in sorted_pages %}
                    <p><a class="py-1 text-white text-decoration-none" href="{{p.url}}">{{p.sitemap-heading}}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center toldext-md-start g-0 pb-3">
                <p class="text-uppercase fw-bold py-3">Stay in Touch</p>
                <p>Follow us on:</p>
                <p>
                    <a href="#" class="fa fa-facebook text-dark text-decoration-none"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </p>
            </div>
            <div class="col text-center g-0">
                <p class="py-3">Copyright &copy; 2023 {{site.title}}. <br/>All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
