{% assign search = site.pages | where: "hero", true %}
{% for p in search %}
  {% assign style = 'style="background-image:url(' | append: p.hero-image | append: '); background-attachment: fixed;"' %}
  <div class="container-fluid image-default g-0 fade-image" {{style}}>
    <div class="container mw-lg d-flex text-light hero g-3">
      <div class="container mw-lg mb-3 mb-sm-4 mt-auto fs-3 hero-content">
        <h1 data-highlight="{{p.hero-leader}}"><a class="text-light text-decoration-none text-shadow" href="{{p.url}}">{{p.hero-heading}}</a></h1>
        <h2 class="mt-3 mt-sm-4">
          <a class="text-light text-decoration-none text-shadow" href="{{p.url}}">
            {{p.hero-subheading}}
          </a>
        </h2>
        <p class="mt-3 mt-sm-4 fs-6 text-shadow">
          {{p.hero-paragraph-1}}
        </p>
        <p class="mt-3 mt-sm-4 mb-md-5 mb-lg-5 fs-6 text-shadow">
          {{p.hero-paragraph-2}}
        </p>
      </div>
    </div>
    <div class="container-fluid bg-gd-transparent-black g-0 p-5">
      <p class="m-0 p-5"></p>
    </div>
  </div>
{% endfor %}
