<nav class="navbar navbar-expand-md navbar-dark fixed-top fixed-top-p bg-gd-black-transparent">
    <div class="container mw-lg pt-2">
        <!-- Brand/logo -->
        <a class="navbar-brand text-white ms-2 me-auto" href="/">
            <img src="/images/profile-pic.jpeg" class="rounded-circle profile-pic" alt="Avatar" />
            <span class="profile-name">{{site.title}}</span>
        </a>
        <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-1 py-3 pb-5 py-sm-0">
                {% include nav-right.html %}
            </ul>
        </div>
    </div>
</nav>