<div class="row">
  {% assign siblings = site.pages | sort: "highlight-sort" %}

  {% for sibling in siblings %}
    {% if sibling.url contains page.url %}
      {% unless sibling.url == page.url %}
        <div class="col-12 col-sm-6 my-3 mb-sm-5">
          <p>
            <a href="{{ sibling.url }}">
              <img class="image-default"
                   src="{{ sibling['highlight-image'] }}"
                   width="100%" height="200px"/>
            </a>
          </p>

          <h3>
            <a href="{{ sibling.url }}" class="text-decoration-none text-light fw-bold">
              {{ sibling['highlight-heading'] }}
            </a>
          </h3>

          <h4>
            <a href="{{ sibling.url }}" class="text-decoration-none text-light">
              {{ sibling['highlight-subheading'] }}
            </a>
          </h4>

          <p>
            <a href="{{ sibling.url }}" class="text-decoration-none text-light">
              {{ sibling['highlight-description'] }}
            </a>
          </p>

          <p>
            <a href="{{ sibling.url }}"
               class="btn btn-outline-light px-3 py-3 py-sm-2 d-block d-sm-inline"
               role="button">Read more</a>
          </p>
        </div>
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
